terraform/resources/step_daily_games.asl.json
{
   "Comment":"This is a pipeline for fetching, storing and procesing daily nba games.",
   "StartAt":"get_data_scrape",
   "States":{
       "get_data_scrape":{
           "Type":"Task",
           "Resource":"${baskpipe_daily_scrape_arn}",
           "ResultPath": null,
           "Parameters":{
               "date.$":"$.date_day",
               "s3_path":"s3://baskpipe/data/daily_games/"
           },
           "Next":"init_staging"
       },
       "init_staging":{
           "Type":"Task",
           "Resource":"${sql_execute_arn}",
           "ResultPath": null,
           "Parameters":{
               "s3_sql_path":"s3://baskpipe/sqls/ddl/st_daily_games.sql",
               "custom_params":{
                   
               }
           },
           "Next":"load_staging"
       },
       "load_staging":{
           "Type":"Task",
           "Resource":"${s3_to_postgres_arn}",
           "ResultPath": null,
           "Parameters":{
               "s3_bucket": "baskpipe",
               "s3_path": "data/daily_games",
               "file_name.$": "States.Format('{}_games.csv', $.date_day)",
               "schema_name": "staging",
               "table_name": "st_daily_games",
               "copy_config": "(format csv,header true)",
               "aws_region": "eu-west-2"
           },
           "Next":"load_public"
       },
       "load_public":{
           "Type":"Parallel",
           "Branches":[
               {
                   "StartAt":"load_games",
                   "States":{
                       "load_games":{
                           "Type":"Task",
                           "Resource":"${sql_execute_arn}",
                           "ResultPath": null,
                           "Parameters":{
                               "s3_sql_path":"s3://baskpipe/sqls/dml/games_load.sql",
                               "custom_params":{
                                   
                               }
                           },
                           "End":true
                       }
                   }
               },
               {
                   "StartAt":"load_teams",
                   "States":{
                       "load_teams":{
                           "Type":"Task",
                           "Resource":"${sql_execute_arn}",
                           "ResultPath": null,
                           "Parameters":{
                               "s3_sql_path":"s3://baskpipe/sqls/dml/teams_load.sql",
                               "custom_params":{
                                   
                               }
                           },
                           "End":true
                       }
                   }
               }
           ],
           "ResultSelector": {
               "date_day.$": "$[0].date_day"
            },
           "Next":"load_team_stats"
       },
       "load_team_stats":{
           "Type":"Parallel",
           "Branches":[
               {
                   "StartAt":"load_home_stats",
                   "States":{
                       "load_home_stats":{
                           "Type":"Task",
                           "Resource":"${sql_execute_arn}",
                           "ResultPath": null,
                           "Parameters":{
                               "s3_sql_path":"s3://baskpipe/sqls/dml/game_team_stats_home_load.sql",
                               "custom_params":{
                                   
                               }
                           },
                           "End":true
                       }
                   }
               },
               {
                   "StartAt":"load_away_stats",
                   "States":{
                       "load_away_stats":{
                           "Type":"Task",
                           "Resource":"${sql_execute_arn}",
                           "ResultPath": null,
                           "Parameters":{
                               "s3_sql_path":"s3://baskpipe/sqls/dml/game_team_stats_away_load.sql",
                               "custom_params":{
                                   
                               }
                           },
                           "End":true
                       }
                   }
               }
           ],
           "ResultSelector": {
               "date_day.$": "$[0].date_day"
            },
           "Next":"send_notification"
       },
       "send_notification":{
           "Type":"Task",
           "Resource":"arn:aws:states:::sns:publish",
           "Parameters":{
               "Message.$":"States.Format('Daily Baskref step function execution for {} has completed successfully.', $.date_day)",
               "TopicArn":"${sns_topic_arn}"
           },
           "End":true
       }
   }
}