terraform/resources/step_init_db.asl.json
{
    "Comment": "A State Machine to initialize the database for baskpipe.",
    "StartAt": "init_db",
    "States": {
        "init_db":{
            "Type":"Task",
            "Resource":"${sql_execute_arn}",
            "ResultPath": null,
            "Parameters":{
                "s3_sql_path":"s3://baskpipe/sqls/ddl/init_db.sql",
                "custom_params":{
                    
                }
            },
            "Next":"init_tables"
        },
        "init_tables":{
            "Type":"Parallel",
            "Branches":[
                {
                    "StartAt":"init_games",
                    "States":{
                        "init_games":{
                            "Type":"Task",
                            "Resource":"${sql_execute_arn}",
                            "ResultPath": null,
                            "Parameters":{
                                "s3_sql_path":"s3://baskpipe/sqls/ddl/games.sql",
                                "custom_params":{
                                    
                                }
                            },
                            "End":true
                        }
                    }
                },
                {
                    "StartAt":"init_teams",
                    "States":{
                        "init_teams":{
                            "Type":"Task",
                            "Resource":"${sql_execute_arn}",
                            "ResultPath": null,
                            "Parameters":{
                                "s3_sql_path":"s3://baskpipe/sqls/ddl/teams.sql",
                                "custom_params":{
                                    
                                }
                            },
                            "End":true
                        }
                    }
                }
            ],
            "Next":"init_game_team_stats"
        },
        "init_game_team_stats":{
            "Type":"Task",
            "Resource":"${sql_execute_arn}",
            "ResultPath": null,
            "Parameters":{
                "s3_sql_path":"s3://baskpipe/sqls/ddl/game_team_stats.sql",
                "custom_params":{
                    
                }
            },
            "End":true
        }

    }
  }
  